.checkout-title{

text-align:center;

margin:30px;

}



.checkout-container{

display:flex;

justify-content:center;

gap:40px;

padding:20px;

flex-wrap:wrap;

}




.checkout-form,
.order-summary{


width:350px;

padding:25px;

border:1px solid #ddd;

border-radius:15px;

background:white;

box-shadow:0 5px 15px rgba(0,0,0,0.1);


}




.checkout-form input,
.checkout-form textarea{


width:100%;

padding:12px;

margin:10px 0;

border:1px solid #ccc;

border-radius:8px;

box-sizing:border-box;


}



.checkout-form textarea{

height:90px;

resize:none;

}





.checkout-form label{

display:block;

margin:12px 0;

cursor:pointer;

}




.place-btn{


width:100%;

padding:14px;

margin-top:20px;

border:none;

background:#111;

color:white;

border-radius:25px;

font-size:16px;

font-weight:bold;

cursor:pointer;


}



.place-btn:hover{

background:#ff9f00;

}





.summary-item p{

margin:8px 0;

}





@media(max-width:600px){


.checkout-form,
.order-summary{

width:90%;

}


}